{{ define "main" }}

<div class="citation">

    <h5>
        {{safeHTML (replace (delimit .Params.authors ", ") .Site.Params.author ( printf "<strong>%s</strong>" .Site.Params.author))}}
    </h5>
    <h1 id="{{.Title| urlize}}">
        {{ .Title }}
    </h1>
    <br>
    <h5>
        In <span class="journal-name">{{ .Params.journal }}</span>,
        {{ .Date.Format "2006" }}
    </h5>
    {{with .Params.doi}}
    <p>DOI <a href="https://doi.org/{{.}}">{{.}}</a></p>
    {{end}}
    {{with .Params.pdf}}
    <p><a href="{.}">PDF</a></p>
    {{end}}
    <div class="page-content">
        <h4>Abstract</h4>
        {{.Content}}
    </div>
    <a href="/">⮨ Back</a>
</div>

{{- end -}}
